.button-container {
    padding: 10px;
    
    .active {
        width: 25%;
        padding: 10px;
        margin: 10px;
        background-color: $primary-color;
        font-family: $primary-font;
        color: $secondary-color;
    }

    .inactive {
        width: 25%;
        padding: 10px;   
        margin: 10px; 
        background-color: white;
        font-family: $primary-font;
        color: $primary-color;
    }
}