@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// font Poppins
@use "_button.scss";
@use "_cardbody.scss";
@use "_variables.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

